* {
    background-color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.title p {
    font-weight: 900;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scorebox {
    text-align: center;
    padding-bottom: 4vh;
}

.score {
    font-size: 30px;
}

.progresstext {
    font-size: 20px;
    height: 8vh;
}

button {
    border-radius: 12px;
    border-color: #ffffff;
    font-size: 30px;
}

button:hover {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}

.actions {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
}

@media only screen and (max-width: 900px) {
    .title p {
        font-size: 30px;
    }
    .actions {
        justify-content: space-around;
        flex-direction: column;
        gap: 3vh;
    }
    button {
        width: 90vw;
        height: 10vh;
    }
}

@media only screen and (min-width: 900px) {
    .title p {
        font-size: 80px;
    }
    .actions {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
    button {
        width: 200px;
        height: 200px;
    }

}

